.info-alunos {
    background: #E1E9E1;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    margin-top: 20%;
    
  }
  
  .info-alunos ion-col {
    margin-bottom: 8px;
    text-align: center;
  }
  
  .info-alunos p {
    font-size: 18px;
  }
  
  .img-sobre {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    padding: 0;
  }
  