<ion-header>
  <ion-toolbar>
    <ion-title>Conversor de Moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="icone">
      <ion-img
        [src]="imagemCambio"
        style="height: 100px; width: 100px; margin-right: 10px"
      ></ion-img>
      <ion-label><b>Cambio Cash</b></ion-label>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-select
          placeholder="Converter de"
          [(ngModel)]="moedaOrigem"
          interface="popover"
        >
          <ion-select-option *ngFor="let moeda of ['BRL', 'USD', 'EUR', 'ARS', 'GBP', 'CNY']" [value]="moeda">
            {{ moeda }} ({{ rates[moeda] ? rates[moeda] : 'Carregando...' }})
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="2" class="trocar-button">
        <ion-button (click)="trocarMoedas()" fill="outline">
          <ion-icon name="swap-horizontal-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-select
          placeholder="Para"
          [(ngModel)]="moedaDestino"
          interface="popover"
        >
          <ion-select-option *ngFor="let moeda of ['BRL', 'USD', 'EUR', 'ARS', 'GBP', 'CNY']" [value]="moeda">
            {{ moeda }} ({{ rates[moeda] ? rates[moeda] : 'Carregando...' }})
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Valor</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="valor"
            placeholder="Digite o valor"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button
          style="--background: #177208"
          expand="block"
          (click)="converterMoeda()"
        >Converter</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-label *ngIf="resultado">Resultado: {{ resultado | number:'1.2-2' }} {{ moedaDestino }}</ion-label>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <ion-grid class="botao-final">
    <ion-row>
      <ion-col style="text-align: center">
        <ion-label>Encontre casas de câmbio próximas a você</ion-label>
        <ion-button expand="block" color="warning">Clique aqui</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
