:root {
  --ion-color-background-linear: #27d02e;
  --ion-color-background-linear2: #005603;

  --ion-color-cambio-botao: #177208;
  --ion-color-cambio-white: #ffffff;
  --ion-color-cambio-shade: #146407;
  --ion-color-cambio-tint: #2e8021;

  --ion-color-background-input: #abf6a9;
  --ion-color-letra-input: #898d86;

  --ion-color-botao-for-maps: #fbbc05;

  --ion-color-letra-geral: #1b482d;
}
